@charset "UTF-8";

/* 変数の定義 */
:root {
  --page-max: 1440px; /* ページ外枠の最大幅（背景/大きなグリッド） */
  --container-max: 750px; /* 本文コンテンツの最大幅（可読幅） */
  --min-page: 375px; /* サイトの最小想定幅（レイアウト崩れ防止） */
  --gutter: clamp(16px, 4vw, 32px); /* 端の余白：fluid */
}
html {
  scroll-behavior: smooth;
  /* コンテンツ幅でのフォントサイズ */
  font-size: clamp(1px, calc(10px / 750px * 100vw), 10px);
  max-width: var(--page-max);
  margin-left: auto;
  margin-right: auto;
}

body {
  max-width: var(--container-max);
  min-width: var(--min-page);
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 0 0.8rem rgba(33, 33, 33, 0.5);
  font-family: "Noto Sans JP", "Hiragino Kaku Gothic ProN", "Hiragino Sans",
    "Yu Gothic", "YuGothic", "Meiryo", sans-serif;
}

html,
body {
  /* height: 100%; */
}

/* 画面全体ラッパー */
.l-app {
  min-height: 100vh;
  box-sizing: border-box;

  /* iOSのノッチ・ホームバー分の安全マージン */
  padding-top: env(safe-area-inset-top);
  padding-right: env(safe-area-inset-right);
  padding-bottom: env(safe-area-inset-bottom);
  padding-left: env(safe-area-inset-left);
}

/* 必要なら、背景色やレイアウト全体をここで指定 */
.l-app {
  background-color: #fff;
  /* 例：全体のレイアウト調整など */
}

img {
  display: block;
  width: 100%;
  height: auto;
}
a {
  transition: 0.3s;
}
a:hover {
  opacity: 0.6;
}
.l-cta {
  flex-direction: column;
  width: 100%;
  position: relative;
  padding-top: 5rem;
  padding-bottom: 3.4rem;
  background-color: #fefdf0;
}
/*  */
.__mg-auto {
  margin-inline: auto;
}
.__pb30 {
  padding-bottom: 3rem;
}
.__pb55 {
  padding-bottom: 5.5rem;
}
.__pb60 {
  padding-bottom: 6rem;
}
.__mb10 {
  margin-bottom: 1rem;
}
.__mb25 {
  margin-bottom: 2.5rem;
}
.__mb30 {
  margin-bottom: 3rem;
}
.__mb35 {
  margin-bottom: 3.5rem;
}
.__mb40 {
  margin-bottom: 4rem;
}
.__mb55 {
  margin-bottom: 5.5rem;
}
.__mb60 {
  margin-bottom: 6rem;
}
.__mb90 {
  margin-bottom: 9rem;
}
.__mb100 {
  margin-bottom: 10rem;
}
.__mb110 {
  margin-bottom: 11rem;
}
.__mb135 {
  margin-bottom: 13.5rem;
}
.__mb145 {
  margin-bottom: 14.5rem;
}

.__mb-sc4a-card {
  margin-bottom: 20rem;
}
.__w327 {
  width: 32.7rem;
}
.__w386 {
  width: 38.6rem;
}
.__w545 {
  width: 54.5rem;
}
.__w566 {
  width: 56.6rem;
}
.__text-l {
  margin-left: -0.5em;
}
.__4dotos-base {
  position: relative;
}
.__4dotos {
  display: block;
  width: 0.9rem;
  height: 7rem;
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translate(-50%, -37%);
}
/* CTA */
.p-cta-copy {
  width: 54.7rem;
  margin-bottom: 1rem;
}
.p-btn-cat {
  width: 70.6rem;
  margin-bottom: 1rem;
  filter: drop-shadow(0 0.6rem 0.4rem rgba(17, 39, 37, 0.35));
}
.p-cta-memo {
  width: 21.8rem;
  margin-left: auto;
  margin-right: 6rem;
}

.sc02-1 {
  width: 100%;
  height: auto;
  padding-top: 5rem;
  padding-bottom: 5rem;
  position: relative;
  /* aspect-ratio: 1500/2746; */
  /* background-image: url("../images/sc2-bck-1@2x.webp"), */
  background-image: url("../images/sc2-bck-1-b@2x.webp"),
    url("../images/sc2-bck-2@2x.webp");
  background-position: top, bottom;
  background-size: 75rem auto, 75rem auto;
  background-repeat: no-repeat, repeat-y;
}
/* あなたも、こんな */
.sc02-text-1_img {
  width: 31.2rem;
}
/* 片付けの悩み */
.sc02-text-2_img {
  width: 49.7rem;
  margin-top: 1.2rem;
}
/* 一人で抱えていませんか? */
.sc02-text-3_img {
  width: 50.8rem;
  margin-top: 2rem;
}
/* 実は... */
.sc02-text-4_img {
  width: 11.6rem;
  /* margin-top: 5.2rem; */
  margin-top: 3rem;
}
/* 受講生の多くが最初はあなたと同じ */
.sc02-text-5_img {
  width: 33rem;
  margin-top: 0.5rem;
  margin-left: 2rem;
}
/* 出口のない悩みを抱えていました */
.sc02-text-6_img {
  width: 65.6rem;
  margin-top: 5rem;
}
/* 悩み */
.p-nayami_ul {
  display: block;
  width: 60rem;
  margin-top: 9rem;
}
.p-nayami_ul_li {
  display: flex;
  margin-bottom: 3rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  align-items: center;
  background-color: #ffffff;
}
.p-nayami_ul_li::before {
  content: "";
  display: block;
  width: 2.5rem;
  height: 2.6rem;
  margin-left: 2rem;
  margin-right: 2.5rem;
  background-image: url("../images/sc2-checkbox@2x.webp");
  background-size: contain;
}
.p-nayami_ul_li_p {
  font-size: 3rem;
  font-weight: 500;
  color: #4d4538;
  letter-spacing: 0.0075em;
  line-height: calc(40 / 30);
}
.p-nayami_ul_li_p_span {
  font-weight: 700;
  color: #ce5469;
}
.sc02-1_p {
  font-size: 3rem;
  font-weight: 500;
  color: #4d4538;
  letter-spacing: 0.01em;
  line-height: calc(60 / 30);
  text-align: center;
}
.sc02-1_p_span {
  font-weight: 700;
  color: #ce5469;
}

/* あなたは、ひとりではありません! */

.sc02-2 {
  width: 100%;
  padding-top: 5rem;
  aspect-ratio: 1500/1346;
  background-image: url("../images/sc2-bck-3@2x.webp");
  background-size: cover;
  text-align: center;
}
.sc02-2_p {
  margin-bottom: 8rem;
  font-size: 4rem;
  font-weight: 700;
  line-height: calc(60 / 40);
  letter-spacing: 0.01em;
  color: #4d4538;
}
.sc02-2_h2 {
  margin-bottom: 5rem;
  font-size: 4rem;
  font-weight: 700;
  line-height: calc(60 / 40);
  letter-spacing: 0.0075em;
  color: #00c5bd;
}
.sc02-2-pic-area {
  width: 100%;
  padding-bottom: 14rem;
  position: relative;
}
.sc02-2_img {
  width: 70rem;
  position: relative;
}
.sc02-text-7_img {
  display: block;
  width: 59.2rem;
  position: absolute;
  left: 0.5rem;
  bottom: 8rem;
}
/*  */
.sc03 {
  width: 100%;
  padding-top: 5rem;
  background-image: url("../images/sc3a-bck@2x.webp");
  background-size: contain;

  text-align: center;
}

.sc03-pic-area {
  width: 100%;
  margin-bottom: 5rem;
  position: relative;
}
.sc03-pic-area_img {
  width: 70rem;
}
.sc03-pic-area-text1 {
  display: block;
  width: 37.1rem;
  position: absolute;
  top: 18.6rem;
  left: 4.5rem;
}
.sc03-pic-area-text2 {
  display: block;
  width: 45.4rem;
  position: absolute;
  bottom: 2rem;
  right: 4.5rem;
}

.sc3a_p {
  font-size: 3rem;
  font-weight: 500;
  line-height: calc(60 / 30);
  letter-spacing: 0.01em;
  color: #4d4538;
}

.sc3a_p-red {
  color: #ce5469;
}
.sc3a_p-bolod {
  font-weight: 700;
}
.sc3a-h2-area {
  width: 70rem;
  min-height: 14.9rem;
  margin-inline: auto;
  margin-bottom: 6rem;
  padding: 3rem 0;
  background-image: url("../images/sc3a-h2-bck@2x.webp");
  background-position: center center;
  background-size: 100% 100%;
  text-align: center;
}
.sc3a_h2 {
  font-size: 3.5rem;
  font-weight: 500;
  line-height: calc(53 / 35);
  letter-spacing: 0.0075em;
  color: #ffffff;
}
.sc3a_h2-yelow {
  font-size: 4.7rem;
  font-weight: 700;
  line-height: calc(47 / 35);
  letter-spacing: 0.0075em;
  color: #fef53a;
}
.sc3a_h3 {
  margin-bottom: 5.5rem;
  text-align: center;
  font-size: 3rem;
  font-weight: 700;
  line-height: calc(60 / 30);
  letter-spacing: 0.01em;
  color: #ce5469;
}
.sc3a-cards {
  display: flex;
  width: 70rem;
  margin-inline: auto;
  margin-bottom: 5.5rem;
  justify-content: space-between;
}
.sc3a-card {
  width: 33.6rem;
  height: auto;
}
.sc3a-bucket {
  width: 73.5rem;
  height: auto;
  margin-inline: auto;
  margin-bottom: 4rem;
  padding-bottom: 5rem;
  background-image: url("../images/sc3a-bucket-text-bck@2x.webp");
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: bottom;
}
.sc3a-bucket_img {
  width: 74.6rem;
  margin-inline: auto;
}
.sc3a-bucket-text {
  margin-left: 6rem;
  font-size: 2.8rem;
  text-align: left;
  font-weight: 500;
  line-height: calc(60 / 28);
  letter-spacing: 0.0075em;
  color: #4d4538;
}
.sc3a-bucket-text-red {
  font-weight: 700;
  color: #ce5469;
}

/*  */
.sc3b {
  width: 100%;

  background-image: url("../images/sc3b-bck@2x.webp");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: 100% 100%;
}
.sc3b-inner {
  width: 70rem;
  margin-inline: auto;
  padding-bottom: 10rem;
}
.sc3b_p {
  font-size: 3rem;
  line-height: calc(60 / 30);
  letter-spacing: 0.01em;
  font-weight: 500;
  color: #4d4538;
}
.sc3b_p-green {
  font-weight: 700;
  color: #49d4c6;
}
.sc3b-pic-2 {
  position: relative;
}
.sc3b-pic-2-text_img {
  width: 56.3rem;
  position: absolute;
  left: -2rem;
  bottom: -6rem;
}
/*  */
.sc4a {
  padding: 13rem 0 20rem;

  background-image: url("../images/sc4a-bck@2x.webp");
  background-position: top center;
  background-size: 100% auto;
}
.sc4-inner {
  width: 70rem;
}
.sc4a-card {
  width: 69rem;
  height: max-content;
  position: relative;
}
.sc4a-card-pic-area {
  display: flex;
  justify-content: space-between;
}
.sc4a-card-before {
  width: 27.5rem;
  padding-top: 2.2rem;
}
.sc4a-card-before_h3 {
  display: flex;
  width: 25.3rem;
  height: auto;
  aspect-ratio: 253/127;
  padding-top: 1.8rem;
  background-image: url("../images/sc4a-card-1-before-text-bck@2x.webp");
  background-size: cover;
  justify-content: center;
  text-align: center;
  /* align-items: center; */
  font-size: 2.99rem;
  font-weight: 500;
  line-height: calc(36.75 / 29.86);
  letter-spacing: 0.01em;
  color: #ffffff;
}
.sc4a-card-before_img {
}
.sc4a-card-after {
  width: 38.4rem;

  position: relative;
}
.sc4a-card-after-arrow_img {
  width: 3.4rem;
  position: absolute;
  top: 33rem;
  left: -3.1rem;
}
.sc4a-card-after_p {
  display: block;
  width: 38.9rem;
  height: auto;
  aspect-ratio: 389/130;

  padding-top: 3.4rem;

  position: absolute;
  left: 0rem;
  bottom: -6rem;

  font-size: 2.7rem;
  line-height: calc(34 / 27);
  font-weight: 500;
  color: #4d4538;
  text-align: center;

  letter-spacing: 0.0075em;

  background-image: url("../images/sc4a-card-1-after-text-bck@2x.webp");
  background-size: contain;
}
.sc4a-card-after_p-green {
  color: #00c5bd;
}
/*  */
.sc4b {
  margin-top: -20rem;
  padding-bottom: 9rem;
  background-image: url("../images/sc4b-bck@2x.webp");
  background-position: top center;
  background-size: 100% auto;
}
.sc4b_h2 {
  width: fit-content;
  position: relative;
  font-size: 3.5rem;
  font-weight: 700;
  line-height: calc(60 / 35);
  letter-spacing: 0.01em;
  color: #4d4538;
  text-align: center;
}
.sc4b_h2::before {
  content: "";
  display: inline-block;
  width: 100%;
  height: 0.2rem;
  position: absolute;
  left: 50%;
  bottom: 0rem;
  transform: translateX(-50%);
  background-color: #4d4538;
}
.sc4b_p {
  margin-left: 1rem;
  font-size: 2.3rem;
  font-weight: 500;
  line-height: calc(45 / 23);
  color: #4d4538;
  letter-spacing: 0.005em;
}
.profile {
  position: relative;
}
.profile_img {
  position: relative;
  left: 0rem;
  top: 0rem;
}
.profile-text_img {
  width: 26.4rem;
  position: absolute;
  top: 0rem;
  right: 0rem;
}
.profile_pic {
  width: 16rem;
  position: absolute;
  top: -9rem;
  right: 0rem;
}

.profile-text1_img {
  width: 26.4rem;
  position: absolute;
  top: 11.5rem;
  right: 5rem;
}
.profile-text2_img {
  width: 7.6rem;
  position: absolute;
  top: 48.5rem;
  left: 10.5rem;
}
.profile-text3_img {
  width: 8.7rem;
  position: absolute;
  top: 48.5rem;
  left: 2rem;
}
.profile-text4_img {
  width: 24.3rem;
  position: absolute;
  top: 65rem;
  left: 21rem;
}
.sc4b-text_p {
  font-size: 3rem;
  line-height: calc(60 / 30);
  font-weight: 500;
  letter-spacing: 0.01em;
  color: #4d4538;
  text-align: center;
}
.sc4b-text_p-red {
  font-weight: 700;
  color: #ff822b;
}
.sc4c {
  padding-top: 7rem;
  padding-bottom: 6.5rem;
  background: url("../images/sc4c-tokuten-bck@2x.webp"),#effefe;
  background-position: top center;
  background-size: 100% auto;
  background-repeat: no-repeat;
}
.sc4c-header {
  width: 61.3rem;
}
.sc4c-tokuten {
  width: 70rem;
  padding: 1.75rem;
  position: relative;
  background-color: #ffffff;
  filter: drop-shadow(0 0.3rem 1rem rgba(25, 45, 44, 0.46));
}
.sc4c-tokuten-inner {
  width: 100%;
  padding: 2rem 0;
  border: solid 0.2rem #f1c67a;
}
.tokuten-l_img {
  width: 46.4rem;
  position: absolute;
  top: -7.4rem;
  left: -2.4rem;
}
.tokuten-r_img {
  width: 17.7rem;
  position: absolute;
  top: -9.8rem;
  right: -2.4rem;
}
.tokuten-card {
  padding: 3.15rem;
}
.tokuten-card_p {
  margin-top: 2rem;
  margin-left: 11.5rem;
  margin-bottom: 0.5rem;
  font-size: 2.4rem;
  line-height: calc(43 / 24);
  font-weight: 500;
  color: #4d4538;
}
.sc4ctokuten-text_p {
  font-size: 3rem;
  font-weight: 500;
  line-height: calc(60 / 30);
  color: #4d4538;
  letter-spacing: 0.01em;
  text-align: center;
}
.sc4ctokuten-text_p-green {
  font-weight: 700;
  color: #57d5c8;
}
.sc4ctokuten-text_p-price {
  width: fit-content;
  font-size: 4rem;
  line-height: calc(60 / 40);
  background-color: #fef53a;
}
.sc4c-tokuten_img {
  width: 70rem;
}
.last-copy {
  width: 70rem;
  padding: 6rem 0;

  background-image: url("../images/last-copy-bck@2x.webp");
  background-size: cover;
}
.last-copy_p {
  font-size: 3rem;
  line-height: calc(60 / 30);
  font-weight: 500;
  letter-spacing: 0.01em;
  color: #4d4538;

  text-align: center;
}
.last-copy_p-green {
  font-weight: 700;
  color: #57d5c8;
}
/*  */
footer {
  padding: 1rem 0;
  background: linear-gradient(to right, #57ccc0 0%, #2ebcad 54%);
  /* background: linear-gradient(to right, #57ccc0 0%, #2ebcad 50%, #2c90ac 100%); */

  font-size: 2rem;
  font-weight: 500;
  line-height: calc(60 / 20);
  color: #ffffff;

  text-align: center;
}
.footer-upper {
  display: flex;
  width: fit-content;
  height: auto;
  align-items: center;
}
footer a {
  display: block;
  font-size: 2rem;
  font-weight: 500;
  line-height: 2;
  color: #ffffff;
}
footer p {
  display: block;
  font-size: 2rem;
  font-weight: 500;
  line-height: 2;
  color: #ffffff;
  text-align: center;
}
